body{
  background-color: cadetblue;
}

.img{
  margin-left: 650px;
  margin-top: 50px;
  border-radius: 90px;
  border:3px solid;
}
.skills{
  background-color: blue;
  color:#fff;
  padding:40px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.general{
  margin-left: 30px;
  
}